@charset "UTF-8";
:root{
    --back: #161716;
    --border-black: #100C10;
    --row: #2E2F2E;
    --grayText: #adaead;
    --green: #d3ff3f;
    scroll-behavior: smooth;
}
.invisible{
    visibility: hidden;
}
@font-face {
	font-family: 'b3d'; 
	src: url("../assets/b3d.ttf"); 
}
 input:hover{
     
    cursor: pointer;
 }
 select:hover{
     
    cursor: pointer;
 }
.allContent{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    

    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 7vh;
    
    background-color: var(--back);
    border-bottom: 0.5vh solid var(--border-black);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.footer{
    width: 100%;
    height: 7vh;

    background-color: var(--back);
    border-top: 0.5vh solid var(--border-black);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.all{
    height: 86vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--back);
}






.footerButtom{
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 3vh;
}
.TimeButton{
    text-decoration: none;
    background-color: var(--border-black);
    color: white;
    height: 5vh;
    min-width: 80%;
    border-radius: 10px;
    border: none;
    
    font-family: monospace;
    font-size: 2.4vh;
}

.TimeButton:hover{
    cursor: pointer;
}














.logoZone{
    height: 100%;
    min-width: 30%;
    
    display: flex;
    
    flex-direction: row;
    align-items: center;

    
}
.logo{
    height: 90%;
}
.imageLogo{
    height: 100%;
}
.logoText{
    color: white;
    font-size: 5vh;
    font-family: 'b3d';
    
	letter-spacing: 1.8px;
    margin-left: 1vw;
}
.headSearch{
    width: 30%;
    height: 100%;
    margin-right: 2vw;

    display: flex;
    
    flex-direction: row-reverse;
    align-items: center;
}
.search_in_head{
    width: 50%;
    max-width: 50%;
    height: 5vh;
    border:none;
    outline: none !important;
    appearance: none;
    padding: 0px 5px 0px 5px;
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;
}
.selectArrow{
    background-color: white;
    border: none;
    height: 2vh;
    padding: 1.5vh;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
}
.selectButtonFooter{
    
    width: 50%;
    max-width: 50%;
    height: 5vh;
    border:none;
    outline: none !important;
    appearance: none;
    padding: 0px 5px 0px 5px;
    border-radius: 11px;
    background-color: var(--grayText);
    color: black;
}












.dopInfo{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "b3d";
    font-size: 4vh;
}

.timeButton2{
    width: 25%;
    margin-left: 2vw;
}







.TopPanelSetting{
    position: absolute;
    height: 50vh;
    width: 50vw;
    background-color: var(--back);
    border: 0.5vh solid var(--border-black);
    box-shadow: 13px 10px 10px 0px rgba(16, 12, 16, 0.7);
    top: 25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

}
.Exit_TopPanelSetting{
    position:absolute;
    height: 4vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.exitButton{
    margin-right: 0.5vw;
}
.exitButton:hover{
    cursor: pointer;
}




























.helpButtons{
    
    transform-origin: 50% 100%;
    transform:translateY(-2vw) translateX(-42.5vh) rotate(90deg) ;

    height: 4vw;
    width: 85vh;
    display: flex;
    
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;

}
.Buttonhelp{
    text-decoration: none;
    background: none;
    color: white;
    
    border: none;
    text-align: center;
    
    font-size: 3vh;
    font-family: monospace;
}


























.MainTTX{
    position: absolute;
    left: 4vw;
    
    height: 85vh;
    width: 94vw;

    display: flex;

}
.ttxZone{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.imgZone{
    height: 100%;
    width: 50%;
}






.row{
    
    height: 12%;
    width: 75%;
    transform-origin: 50px 50px;
    transform: rotate(-3deg);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
}
.rowLabel{
    
    height: 6%;
    width: 75%;
    transform-origin: 50px 50px;
    transform: rotate(-3deg);
}
.ttx{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.row_small{
    background: linear-gradient(90deg, rgba(52,54,52,1) 0%, rgba(69,69,69,1) 55%, rgba(71,71,71,0.69) 69%, rgba(75,75,75,0) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
	font-family: "b3d";
    font-size: 8vh;
    color: white;
    padding-right: 20%;
}
.ttxLabel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: orange;
    font-family: monospace;
    
    font-size: 3vh;
    
    padding-right: 23%;
}
.nameTTX{
    font-family: monospace;
    color: var(--grayText);
    font-size: 3vh;
    font-weight: 700;
}
.fullLabel{
    color: var(--green) !important;
}




.noRotateRow{
    transform-origin: 50px 50px !important;
    transform: rotate(0deg) !important;
}
.lowText{
    font-size: 4vh !important;
}




.imgZone{
    display: flex;
    
    align-items: center;
    background: radial-gradient(circle, rgba(87,67,21,0.5) 0%, rgba(87,67,21,0.36) 23%, rgba(87,67,21,0.3) 38%, rgba(87,67,21,0) 77%);
}
.imgArea{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;}
.skin{
    width: 100%;
    max-height: 100%;
}

























.weaponArea{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.helloArea{
    height: 100%;
    width: 80%;
    display: flex;
}
.SearchSettings{
    
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;

    border-left: 0.5vh solid var(--border-black);
}

.socialArea{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.TextHello{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-family: 'b3d';
    
	letter-spacing: 1.5px;
	word-spacing: 2px;
}
.socialLink{
    width: 50%;
    height: 25%;
}
.linkImg{
    height: 100%;
}










.weaponCart{
    height: 22vh;
    width: 15%;
    max-width: 16%;
    border-radius: 10px;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.imageOnCart{
    width: 100%;
    border: 3px solid var(--border-black);
    border-bottom: none;

    border-top-left-radius: 5mm;
    border-top-right-radius: 5mm;
    
}
.textOnCart{
    width: 100%;
    min-height: 4vh;
    text-align: center;
    color: white;
    background-color: var(--border-black);
    border: 3px solid var(--border-black);
    border-top: none;
    font-family: monospace;
    font-size: 2.5vh;
    
    border-bottom-left-radius: 5mm;
    border-bottom-right-radius: 5mm;
}









.Setting{
    min-width: 85%;
    
	outline: none !important;
    text-align: center;
    height: 5vh;
    background-color: white;
    color: black;
    border: none;
    padding: 0px;
    border-radius: 10px;
    border: 3px solid var(--row);
    
}
.settingsLabel{
    color: var(--grayText);
    font-family: monospace;
    margin-top: 7vh;
}










.StandartSeach {
    
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    color: white;
    font-family: "b3d";
}
.bigSearch{
    width: 40%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.search_in_standart{
    width: 28vw;
    max-width: 90%;
    height: 8vh;
    border:none;
    outline: none !important;
    appearance: none;
    padding: 0px 5px 0px 5px;
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;
}
.selectArrow_st{
    background-color: white;
    border: none;
    height: 3vh;
    padding: 2.5vh;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
}













.TimePanel{
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    min-height: 7vh;
    background-color: var(--back);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



.TimeArea{
    width: 50%;
    display: flex;
    
    flex-direction: column;
    margin-bottom: 4vh;
}
.t_row{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.t_row > label {
    width: 30%;
    text-align: center;
    border: 0.35vh solid var(--border-black);
    padding: 1.1vh;
    font-size: 3vh;
    font-family: 'b3d';
    color: var(--grayText);
}
.t_row:hover > label{
    background-color: var(--row);
    cursor: pointer;
}
.green{
    color: var(--green) !important;
}


.TimeSettingsArea{
    width: 90%;
    min-width: 90vh;
    height: 7vh;
    border-top: 0.5vh solid var(--border-black);
    padding: 2vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.SettingTime{
    
    font-size: 2vh;
    width: 15%;
    border: 0.5vh solid var(--grayText);
    outline: none !important;
    border-radius: 10px;
    height: 4vh;
    
    padding-left: 1vw;

    font-family: monospace;
    font-weight: 700;
}
.TimeSettingsArea > input{
    appearance: none;
    outline: none !important;
    
}
